{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}

{% block content %}
 <div class="container-fluid" >
  <h2>Register</h2>
{% if registered %}
      <strong>Thank you for registering!</strong><br />

      Your Username is <h3>{{username}}</h3>. Please take note of this.<br /><br />

      <a href="/">Return to the homepage.</a><br />
 </div>
      {% else %}
 <div class="container-fluid" >
     <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form user_form %}
                            <button type="submit">Register</button>
                          </form>
                        </div>
                     </div>
                </div>
     </div>
 </div>
{% endif %}
{% endblock %}