{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid" >
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add a new attendee
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit">Submit</button>
                          </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}