{% load static %}
{% load bootstrap3 %}

<html>
  <head>
    <!--This is the meta information which is good for SEO-->
    {% block head-meta %}
  	<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block head-css %}
    <script src="{% static 'gel2mdt/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'gel2mdt/js/bootstrap.js' %}"></script>
        <link href="{% static 'gel2mdt/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'gel2mdt/css/heroic-features.css' %}" rel="stylesheet">
        <link href="{% static 'gel2mdt/DataTables/datatables.min.css' %}" rel="stylesheet">
      <link href="{% static 'gel2mdt/css/jumbotron.css' %}" rel="stylesheet">
      <link href="{% static 'gel2mdt/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'gel2mdt/DataTables/datatables.min.js' %}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'gel2mdt/css/custom.css' %}">
    {% endblock %}
      {% block javascript %}
      {% endblock %}
  </head>


<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
             <a class="navbar-brand" href="/">GEL2MDT v0.1 </a>
        </div>
            {% if user.is_authenticated %}
            <div  class="navbar-collapse collapse">
                 {% block tabs %}
                <ul class="nav navbar-nav">
                    <li><a href="/rare-disease-main"><i class="fas fa-home"></i></span> Cases</a></li>
                    </ul>
               <ul class="nav navbar-nav">
                   <li><a href="/start_mdt" ><i class="fas fa-comments"></i> Start MDT</a></li>
                    </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/recent_mdts" ><i class="fas fa-history"></i> Recent MDTs</a></li>
                    </ul>
                <ul class="nav navbar-nav">
                     <li><a href="/main_cases" >Main Cases</a></li>
                    </ul>
                <ul class="nav navbar-nav">
                     <li><a href="/pilot_cases" >Pilot Cases</a></li>
                    </ul>


                {% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" 
                           data-toggle="dropdown"
                           href="/">{{user.username}} 
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fas fa-user"></i> Profile</a><li>
                            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            <hr>
                            <li><a href="#"><i class="fas fa-question-circle"></i> Help</a><li>
                            <li><a href="#"><i class="fas fa-bug"></i> Report Bug</a><li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.navbar-collapse -->

           {% else %}
                <div id="navbar" class="navbar-collapse navbar-right collapse">
                    <ul class="nav navbar-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                  </ul>
                </div>
          {% endif %}
      </div>
    </nav>
</br>
        <div class="container-fluid" >
            {% include 'gel2mdt/messages.html' %}
            {% block content %}
            {% endblock %}
        </div>

{% block head-javascript %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
<script>
$(document).ready(function() {
    $('#dataTables-rare-disease-main').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                                            
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
<script>
    $(document).ready(function() {
        $('#dataTables-generic').DataTable({
            responsive: true
        });
    });
    </script>

     <script>
    $(document).ready(function() {
        $('#dataTables-generic1').DataTable({
            responsive: true
        });
    });
    </script>


     <script>
    $(document).ready(function() {
        $('#dataTables-generic2').DataTable({
            responsive: true
        });
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#dataTables-recent_mdt').DataTable({
            responsive: true,
            "order": [[ 0, "desc" ]]
        });
    });
    </script>


{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
