{% load static %}
{% load bootstrap3 %}

<html>
  <head>
    <!--This is the meta information which is good for SEO-->
    {% block head-meta %}
  	<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
  	<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="{% static 'gel2mdt/favicon/favicon-96x96.png' %}"/>
    {% endblock %}
    {% block head-css %}
    <script src="{% static 'gel2mdt/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'gel2mdt/js/bootstrap.js' %}"></script>
        <link href="{% static 'gel2mdt/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'gel2mdt/css/heroic-features.css' %}" rel="stylesheet">
        <link href="{% static 'gel2mdt/DataTables/datatables.min.css' %}" rel="stylesheet">
      <link href="{% static 'gel2mdt/css/jumbotron.css' %}" rel="stylesheet">
      <link href="{% static 'gel2mdt/css/bootstrap-responsive.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'gel2mdt/DataTables/datatables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'gel2mdt/js/all.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'gel2mdt/css/custom.css' %}">

    {% endblock %}
      {% block javascript %}
      {% endblock %}
  </head>


<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/rare-disease-main"><i class="fas fa-paper-plane fa-1x"></i>
              <em><strong>GeL2MDT v0.1</strong></em>
          </a>
        </div>
            {% if user.is_authenticated %}
            <div  class="navbar-collapse collapse">
                 {% block tabs %}
                <ul class="nav navbar-nav">
                    <li><a href="/rare-disease-main"><i class="fas fa-home"></i></span> Cases</a></li>
                    </ul>
               <ul class="nav navbar-nav">
                   <li><a href="/start_mdt" ><i class="fas fa-comments"></i> Start MDT</a></li>
                    </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/recent_mdts" ><i class="fas fa-history"></i> Recent MDTs</a></li>
                    </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/genomics_england" ><i class="fas fa-download"></i> GEL Reports</a></li>
                    </ul>


                {% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" 
                           data-toggle="dropdown"
                           href="/">{{user.username}} 
                            <i class="fas fa-chevron-circle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><i class="fas fa-user"></i> Profile</a><li>
                            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            <hr>
                            <li><a href="#"><i class="fas fa-question-circle"></i> Help</a><li>
                            <li><a href="#"><i class="fas fa-bug"></i> Report Bug</a><li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.navbar-collapse -->

           {% else %}
                <div id="navbar" class="navbar-collapse navbar-right collapse">
                    <ul class="nav navbar-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                  </ul>
                </div>
          {% endif %}
      </div>
    </nav>
</br>
        <div class="container-fluid" >
            {% include 'gel2mdt/messages.html' %}
            {% block content %}
            {% endblock %}
        </div>

{% block head-javascript %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>


<script charset="utf-8">
// intialise the table at document ready time
$(document).ready(initaliseTable());

// define the filter and redraw functions
function redrawCaseType(table,caseType) {
    // select the DataTable API object
    table
        .column(8)
        .search(caseType);
    table.draw();


    // warn users of pilot mode
    if (caseType == 'true') {
        $('#pilotWarning').html('<div class="alert alert-danger" role="alert"><strong>Only displaying pilot cases</strong></div>');
    } else if (caseType == '') {
        $('#pilotWarning').html('<div class="alert alert-warning" role="alert"><strong>Including pilot cases.</strong></div>');
    } else {
        $('#pilotWarning').html("");
    }
};

function redrawGenomeBuild(table, genomeBuild) {
    // select the DataTable API object
    table
        // filter based on the value specified in HTML
        .column(6)
        .search(genomeBuild);
    table.draw();

    // change the HTML text for build
    if (genomeBuild == '') {
        $('#genomeBuildSpec').text("all genome builds");
    } else {
        $('#genomeBuildSpec').text("build " + genomeBuild);
    }


};

function redrawMaxTier(table, maxTier) {
    // select the DataTable API object
    // define search regex based on desired max tier
    var searchRegex;
    if (maxTier == 3) {
        searchRegex = '[0123]';
    } else if (maxTier == 2) {
        searchRegex = '[012]';
    } else if (maxTier == 1) {
        searchRegex = '[01]';
    } else if (maxTier == 0) {
        searchRegex = '0';
    }

    // search and redraw the datatable API
    table
        .column(5)
        .search(searchRegex, regex=true);
    table.draw();

    // change the HTML text for max tier
    if (maxTier == 0) {
        $('#maxTierSpec').text("CIP candidate variants only");
    } else {
        $('#maxTierSpec').text("at least Tier " + maxTier);
    }
};

function redrawCaseStatus(table, caseStatus) {
    console.log(caseStatus);
    // select the DataTable API object
    table
        // filter based on the value specified in HTML
        .column(7)
        .search(caseStatus);
    table.draw();

    // change the HTML text for status
    if (caseStatus == '') {
        $('#caseStatusSpec').text("All");
    } else {
        $('#caseStatusSpec').text(caseStatus);
    }

};

function redrawTrioStatus(table, trioStatus) {
    console.log(trioStatus)
    table
        .column(9)
        .search(trioStatus);
    table.draw()
}

function redrawTier3Only(table, tier3Only) {
    console.log(tier3Only)
    if (tier3Only) {
        // disable maxTier input
        $('label[name=maxTierLabel]').attr('disabled', true);
        table
            .column(5)
            .search('[3]', regex=true);
        table.draw()
        $('#maxTierSpec').text("Tier 3 only");
    } else {
        $('label[name=maxTierLabel]').removeAttr('disabled', true);
        // looking at all variants, get values from maxTier
        var maxTier = getRadioValue("maxTier");
        redrawMaxTier(table, maxTier);
    }
}

function redrawDeNovoStatus(table, deNovoStatus) {
    console.log(deNovoStatus)
    table
        .column(10)
        .search(deNovoStatus);
    table.draw()
}

// filter value change listeners
$("input[name='caseType']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawCaseType(table, $(this).val());
});
$("input[name='genomeBuild']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawGenomeBuild(table, $(this).val());
});
$("input[name='maxTier']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawMaxTier(table, $(this).val());
});
$("input[name='caseStatus']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawCaseStatus(table, $(this).val());
});
$("input[name='trioStatus']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawTrioStatus(table, $(this).val());
});
$("input[name='tier3Only']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawTier3Only(table, $(this).is(":checked"));
});
$("input[name='deNovoStatus']").change(function() {
    var table = $('#rare-disease-main').DataTable()
    redrawDeNovoStatus(table, $(this).val());
});




function initaliseTable() {
    var caseType = getRadioValue("caseType");
    var genomeBuild = getRadioValue("genomeBuild");
    var maxTier = getRadioValue("maxTier");
    var caseStatus = getRadioValue("caseStatus");
    var trioStatus = getRadioValue("trioStatus");
    var deNovoStatus = getRadioValue("deNovoStatus");
    
    // create the datatable
    var table = fetchDataTable(caseType, genomeBuild, maxTier, caseStatus)
    
    // once DataTable is fetched from API, apply active filters and redraw
    redrawCaseType(table, caseType);
    redrawGenomeBuild(table, genomeBuild);
    redrawMaxTier(table, maxTier);
    redrawCaseStatus(table, caseStatus);
    redrawTrioStatus(table, trioStatus);
    redrawDeNovoStatus(table, deNovoStatus);
}

function fetchDataTable(caseType, genomeBuild, maxTier, caseStatus) {
    console.log("Loading table through initaliseTable()!")
    var table = $('#rare-disease-main').DataTable( {                 
        "ajax": {
            "url": '{% url 'rare-disease-json' %}',
            "dataSrc": ''
        },
        "columns": [
            { 
                "data": "id",
                "render": function(data, type, row, meta){
                    if(type === 'display'){
                        data = '<a href="proband/' + data + '">' + '<i class="fas fa-external-link-alt"></i>' + '</a>';
                    }
                    return data;
                },
                "orderable": false,
            },
            { "data": "gel_id" },
            { "data": "forename" },
            { "data": "surname" },
            { "data": "date_of_birth",
                "type": "date " },
            { 
                "data": "max_tier",
                "type": "num"
            },
            { 
                "data": "assembly",
                "visible": false
            },
            { "data": "case_status" },
            { 
                "data": "case_type",
                "visible": false,
                "type": "string"
            },
            { 
                "data": "trio_sequenced",
                "visible": false,
            },
            {
                "data": "has_de_novo",
                "visible": false,
            },
            { "data": "updated",
                "type": "date " },
            { "data": "cip_id" }
        ],
        "order": [[ 11, "desc" ]]
    } );
    return table
}

function getRadioValue(radioElementName) {
    var radios = document.getElementsByName(radioElementName);
    for (var i = 0, length=radios.length; i < length; i++) {
        if (radios[i].checked) {
            var checked_radio = radios[i]
            break
        }
    }
    return checked_radio.value
}
</script>

<script>
    $(document).ready(function() {
        $('#dataTables-pv').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [ 0, 1 ] }
            ],
            "order": [[ 3, "asc" ]]
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#myCases').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [ 6 ] }
            ],
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('#dataTables-generic').DataTable({
            "order": [[ 0, "desc" ]]
        });
    });
</script>

     <script>
    $(document).ready(function() {
        $('#dataTables-generic1').DataTable({
            responsive: true
        });
    });
    </script>


     <script>
    $(document).ready(function() {
        $('#dataTables-generic2').DataTable({
            responsive: true
        });
    });
    </script>
     <script>
    $(document).ready(function() {
        $('#dataTables-generic3').DataTable({
            responsive: true
        });
    });
    </script>
      <script>
    $(document).ready(function() {
        $('#dataTables-generic4').DataTable({
            responsive: true,
            "order": [[ 1, "desc" ]]
        });
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#dataTables-recent_mdt').DataTable({
            responsive: true,
            "order": [[ 0, "desc" ]]
        });
    });
    </script>


{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
