{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
{% load gel2mdt_extras %}

{% block javascript %}
  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

<div style="text-align:center">
    <form action="/edit_mdt/{{ mdt_id }}" role="form">
        {% csrf_token %} {% bootstrap_button "Edit Samples in MDT" button_type="submit" button_class="btn-primary btn-warning" %}
    </form>
    <form action="/delete_mdt/{{ mdt_id }}" role="form" method="post" onclick="return confirm('Are you sure?')">
        {% csrf_token %} {% bootstrap_button "Delete MDT" button_type="submit" button_class="btn-primary btn-danger" %}
    </form>
    <form action="/export_mdt/{{ mdt_id }}" role="form" method="post">
        {% csrf_token %} {% bootstrap_button "Export MDT" button_type="submit" button_class="btn-primary btn-info" %}
    </form>
</div>

<br>


<div  class="container-fluid"   >
     <form role="form" method="post" enctype="multipart/form-data">
     {% csrf_token %}
         <div class=row style="text-align:center">
        <div class="col-md-6" style="text-align:center" >

            <div class="panel panel-default">
                <div class="panel-heading">MDT Information</div>
                <div class="panel-body">

                    <div class="col-md-4">
                        {% bootstrap_field mdt_form.date_of_mdt %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field mdt_form.status %}
                    </div>
                    <div class="col-md-4">
                    <button type="submit" name="mdt_update" class="btn btn-default">Save</button>

                </div>
            </div>
        </div>
        </div>
        </div>
            </form>


<div class=row>
<div class="col-md-12">

    <div class="panel panel-default" >
        <div class="panel-heading">Variants</div>
        <div class="panel-body">

            <div class="table-responsive">
                {% for report in reports %}
                    <table width="100%" class="table table-striped table-bordered table-hover" id="mdt-proband-table">
                        <thead>
                            <tr>
                                <th>GEL ID</th>
                                <th>CIP ID</th>
                                <th>Forename</th>
                                <th>Surname</th>
                                <th>GMC</th>
                                <th>Discussion</th>
                                <th>Action</th>
                                <th>Edit Patient Data</th>
                                <th>Show/Hide Variants</th>
                            </tr>
                        </thead>

                            <tbody>

                            <tr>
                                <td><a href="/proband/{{report.ir_family.participant_family.proband.gel_id}}">{{report.ir_family.participant_family.proband.gel_id}}</a></td>
                                <td>{{report.ir_family.ir_family_id}}</td>
                                <td>{{report.ir_family.participant_family.proband.forename}}</td>
                                <td>{{report.ir_family.participant_family.proband.surname}}</td>
                                <td>{{report.ir_family.participant_family.proband.gmc}}</td>
                                <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.discussion}}</td>
                                <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.action}}</td>
                                <td>
                                    {% if mdt_form.status.value != "C" %}
                                    <p>
                                    <button type="button" class="btn btn-primary js-mdt-edit-proband"
                                            data-url="/edit_mdt_proband/{{report.ir_family.participant_family.proband.id}}">
                                      Edit
                                    </button>
                                    </p>
                                    {% else %}
                                    <p></p>
                                    {% endif %}
                                </td>
                                <td><button type="button" class="btn btn-primary"
                                            data-url="">
                                      Collapse
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            </table>

                            <table width="100%" class="table table-striped table-bordered table-hover" id="mdt-variant-table-{{report.ir_family.participant_family.proband.id}}">
                                        <thead style='font-size: 70%'>
                                            <tr>
                                                <th>Variant ID</th>
                                                <th>Edit</th>
                                                <th>Gene</th>
                                                <th>HGVSc</th>
                                                <th>HGVSp</th>
                                                <th>Zygosity</th>
                                                <th>Class</th>
                                                <th>CP</th>
                                                <th>Discussion</th>
                                                <th>Actions </th>
                                                <th>CM</th>
                                                <th>SO</th>
                                                <th>ASR</th>
                                                <th>CT</th>
                                                <th>IRC</th>
                                            </tr>
                                        </thead>
                                <tbody>
                                {% for variant in variant_dict|get_item:report.id %}
                                <tr>
                                    <td>{{variant.id}}</td>
                                    <td>
                                        {% if mdt_form.status.value != "C" %}
                                        <button type="button" class="btn btn-xs btn-primary js-edit-mdt-variant"
                                                data-url="/edit_mdt_variant/{{variant.pk}}">
                                          Edit
                                        </button>

                                    {% endif %}
                                    </td>
                                    <td>{{variant.probandtranscriptvariant.transcript.gene.hgnc_name}}</td>
                                    <td style="word-wrap: break-word; min-width: 120px;max-width: 120px;">{{variant.probandtranscriptvariant.transcript.transcriptvariant.hgvs_c}}</td>
                                    <td style="word-wrap: break-word; min-width: 120px;max-width: 120px;">{{variant.probandtranscriptvariant.transcript.transcriptvariant.hgvs_p}}</td>
                                    <td style="word-wrap: break-word; min-width: 90px;max-width: 90px;">{{variant.zygosity}}</td>
                                    <td>{{variant.classification}}</td>
                                    <td>{{variant.contribution_to_phenotype}}</td>
                                    <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{variant.discussion}}</td>
                                    <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{variant.action}}</td>
                                    <td>{% if variant.change_med == True %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                    <td>{% if variant.surgical_option == True %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                    <td>{% if variant.add_surveillance_for_relatives == True %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                    <td>{% if variant.clinical_trial == True %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                    <td>{% if variant.inform_reproductive_choice == True %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        {% endfor %}

                <div class="modal fade" id="modal-proband-mdt">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-variant-mdt">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      </div>
                    </div>
                </div>

                </div>
            </div>

        </div>

        </div>
    </div>


</div>
{% endblock %}
