{% extends 'gel2mdt/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    {% load gel2mdt_extras %}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#proband">Proband</a></li>
    <li><a data-toggle="tab" href="#variants">Variants</a></li>
</ul>

<div class="tab-content">
    <div id="proband" class="tab-pane fade in active">
        <div class="container-fluid" >
            <h1>{{proband.gel_id}}</h1>
            <form role="form" method="post" enctype="multipart/form-data" action="/update_proband/{{ report.id }}">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Participant Information <span style="float:right"><a href=# data-toggle="modal" data-target="#demogModal"><i class="fas fa-pencil-alt"></i></a></span></div>
                            <div class="panel-body">

                            {% bootstrap_form_errors demogs_form %}

                                <div class="col-md-3">
                                    {% bootstrap_label "GEL ID" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.gel_id}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "NHS Number" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.nhs_number}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Date of Birth" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.date_of_birth|date}}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {% bootstrap_label "Forename" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.forename}}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Sex" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.sex}}
                                    </div>
                                </br>
                                {% bootstrap_label "Panels" %}
                                <div class="block">
                                    {% for panel in panels %}

                                        <p>
                                    <a href="/panel/{{panel.panel.id}}">
                                    {{panel.panel}}
                                    </a>
                                    </p>
                                    {% endfor %}
                                </div>
                                </br>

                                </div>


                                <div class="col-md-3">

                                    {% bootstrap_label "Surname" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.surname}}
                                    </div>

                                    </br>
                                    {% bootstrap_label "Lab Number" %}
                                    <div class="block">
                                         {% if report.ir_family.participant_family.proband.lab_number %}
                                            {{ report.ir_family.participant_family.proband.lab_number }}
                                        {% else %}
                                            <p style="color:gray">unknown</p>
                                        {% endif %}
                                    </div>
                                    </br>
                                    {% bootstrap_label "Clinician" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.clinician}}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {% bootstrap_label "CIP ID" %}
                                    <div class="block">
                                        <a href="https://cipapi.genomicsengland.nhs.uk/interpretationportal/#/participant/{{report.ir_family.ir_family_id}}" target="_blank"><i class="fas fa-external-link-alt"></i> {{report.ir_family.ir_family_id}}</a>
                                    </div>
                                    </br>
                                    {% bootstrap_label "CGU Number" %}
                                    <div class="block">
                                        {% if report.ir_family.participant_family.proband.local_id %}
                                            {{ report.ir_family.participant_family.proband.local_id }}
                                        {% else %}
                                            <p style="color:gray">unknown</p>
                                        {% endif %}
                                    </div>
                                    </br>
                                    {% bootstrap_label "GMC" %}
                                    <div class="block">
                                        {{report.ir_family.participant_family.proband.gmc}}
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class=row>
                    <div class="col-md-7">

                        <div class="panel panel-default">
                            <div class="panel-heading">Proband Tracking</div>
                            <div class="panel-body">
                                <div class="col-md-6">

                                    {% bootstrap_field proband_form.outcome %}
                                    {% bootstrap_field proband_form.episode %}

                                </div>
                                <div class="col-md-6">

                                    {% bootstrap_field proband_form.comment %}

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="panel panel-default">
                            <div class="panel-heading">Status</div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    {% bootstrap_field proband_form.status %}
                                    {% bootstrap_field proband_form.mdt_status %}
                                </div>

                                <div class="col-md-2">
                                    {% bootstrap_field proband_form.case_sent %}
                                </div>
                                <div class="col-md-2">
                                    {% bootstrap_field proband_form.pilot_case %}
                                </div>
                                {% if proband_mdt|length > 0 %}
                                <div class="col-md-2">
                                    <a href="/export_mdt_outcome_form/{{report.id}}"><i class="fas fa-external-link-alt"></i> MDM Outcome</a>
                                </div>
                                {% endif %}
                                <div class="col-md-12">
                                    {% if sample_form.sample_status.value != "C" %}
                                        </br>
                                <button type="submit" name="variant_update" class="btn btn-primary btn-lg">Save</button> {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            
            {% if proband_mdt %}
                <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">MDT History</div>
                        <div class="panel-body">
                            <div class="col-md-15">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>MDT Name</th>
                                            <th>MDT Date</th>
                                            <th>Creator</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for mdt in proband_mdt %}
                                        <tr>
                                        <td><a href="/mdt_view/{{ mdt.MDT.id }}">{{ mdt.MDT.id }}</a></td>
                                        <td>{{mdt.MDT.date_of_mdt}}</td>
                                        <td>{{mdt.MDT.creator}}</td>
                                    </tr>
                                {% endfor %}


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

            {% if relatives %}
                <div class=row>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Relatives</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>

                                        <th>Relationship</th>
                                        <th>Forename</th>
                                        <th>Surname</th>
                                        <th>DOB</th>
                                        <th>NHS number</th>
                                        <th>ID</th>
                                        <th>Affection_status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for relative in relatives %}
                                    <tr>

                                    <td>{{relative.relation_to_proband}}</td>
                                    <td>{{relative.forename}}</td>
                                    <td>{{relative.surname}}</td>
                                    <td>{{relative.date_of_birth|date}}</td>
                                    <td>{{relative.nhs_number}}</td>
                                    <td>{{relative.gel_id}}</td>
                                    <td>{{relative.affected_status}}</td>
                                </tr>
                            {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        </div>
    </div>

    <div id="variants" class="tab-pane fade">
        <div class="container-fluid" >
            <h1> {{ proband.gel_id }}</h1>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Participant Information</div>
                        <div class="panel-body">
                            <div class="col-md-3">
                                {% bootstrap_label "GEL ID" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.gel_id}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                {% bootstrap_label "Forename" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.forename}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                {% bootstrap_label "Surname" %}
                                <div class="block">
                                    {{report.ir_family.participant_family.proband.surname}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                {% bootstrap_label "CIP ID" %}
                                <div class="block">
                                    <a href="https://cipapi.genomicsengland.nhs.uk/interpretationportal/#/participant/{{report.ir_family.ir_family_id}}" target="_blank">{{report.ir_family.ir_family_id}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-pv">
                        <thead style='font-size: 75%'>
                            <tr>
                                <th>Variant</th>
                                <th>Interpretation</th>
                                <th>Gene</th>
                                <th>Tier</th>
                                <th>Transcript</th>
                                <th>HGVSc</th>
                                <th>HGVSp</th>
                                <th>Genotype</th>
                            </tr>
                        </thead>
                        <tbody style='font-size: 75%'>

                        {% for pv in proband_variants %}
                            <tr >
                            <td>
                                <a href="/variant/{{pv.variant.id }}">
                                    <i class="fas fa-external-link-alt fa-2x"></i>
                                </a>
                            </td>
                            <td>
                                <a href=# data-toggle="modal" data-target="#pvModal">
                                    <i class="fas fa-info-circle fa-2x"></i>
                                </a>
                            </td>

                            <div id="pvModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
                                            <h4 class="modal-title">MDT Results</h4>
                                        </div>
                                        <div class="modal-body">
                                                <label>Variant Classification</label>
                                                <br>
                                                {{ pv.rarediseasereport.classification }}
                                            <hr>
                                                <label>Contribution to Phenotype</label>
                                                <br>
                                                {{ pv.rarediseasereport.contribution_of_phenotype }}
                                            <hr>
                                                <label>Action from MDT</label>
                                                <br>
                                                {{ report.ir_family.participant_family.proband.action }}
                                            <hr>
                                                <label>MDT Discussion</label>
                                                <br>
                                                {{ report.ir_family.participant_family.proband.discussion }}
                                            <hr>
                                                <label>Change Medification?</label>
                                                <br>
                                                {{ pv.rarediseasereport.change_med }}
                                            <hr>
                                                <label>Surgical Option?</label>
                                                <br>
                                                {{ pv.rarediseasereport.surgical_option }}
                                            <hr>
                                                <label>Add Relative Surveillance?</label>
                                                <br>
                                                {{ pv.rarediseasereport.add_surveillance_for_relatives }}
                                            <hr>
                                                <label>Add Clinical Trial?</label>
                                                <br>
                                                {{ pv.rarediseasereport.clinical_trial }}
                                            <hr>
                                                <label>Inform Reproductive Choice?</label>
                                                <br>
                                                {{ pv.rarediseasereport.inform_reproductive_choice }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <td>{{ pv.get_transcript.gene }}</td>
                            <td>{{ pv.max_tier }}</td>
                            <td>

                                <a href="/select_transcript/{{report.id}}/{{pv.id }}"><i class="fas fa-pencil-alt"></i></a></span>{{pv.get_transcript.name }}
                            </td>

                            <td style="word-wrap: break-word; min-width: 100px;max-width: 100px;">{{pv.get_transcript_variant.hgvs_c}}</td>
                            <td style="word-wrap: break-word; min-width: 75px;max-width: 75px;">{{pv.get_transcript_variant.hgvs_p}}</td>
                            <td>{{pv.zygosity}}</td>
                       </tr>
                    {% endfor %}


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="demogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
                <h4 class="modal-title">Edit proband information</h4>
            </div>
            <div class="modal-body">
                <form action="/proband/{{ report.id }}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form demogs_form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
