{% load static %}
{% load bootstrap3 %}

<html>
<head>
<title>Technical Report</title>
<!--This is the meta information which is good for SEO-->
<!-- Bootstrap -->
<!--Add keywords that describe your project between the quotation marks. This helps search engines find and index your content-->
<link rel="shortcut icon" type="image/png" href="{% static 'gel2mdt/favicon/favicon-96x96.png' %}"/>
{% block head-css %}
    <script src="{% static 'gel2mdt/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'gel2mdt/js/bootstrap.js' %}"></script>
<link href="{% static 'gel2mdt/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'gel2mdt/css/heroic-features.css' %}" rel="stylesheet">
<link href="{% static 'gel2mdt/DataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'gel2mdt/css/jumbotron.css' %}" rel="stylesheet">
<link href="{% static 'gel2mdt/css/bootstrap-responsive.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'gel2mdt/DataTables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'gel2mdt/js/all.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'gel2mdt/css/report.css' %}">

    {% endblock %}
{% block javascript %}
{% endblock %}


</head>


<body>

<page size="A4">


    <h2>Rare Disease Whole Genome Sequencing - Technical Report</h2>


    <h3>Patient name: <strong>{{ report.ir_family.participant_family.proband.forename}} {{report.ir_family.participant_family.proband.surname}}</strong></h3>

    <h3><strong>Sample Details</strong></h3>
    <table class="table" style="table-layout:fixed">
        <col style="width:25%", span="4" />
        <tr>
            <th>GeL ID:</th>
            <th> {{ report.ir_family.participant_family.proband.gel_id }}</th>
            <th>Laboratory No.:</th>
            <th> {{ report.ir_family.participant_family.proband.lab_number }}</th>
        <tr>
            <th>NHS No.:</th>
            <th> {{ report.ir_family.participant_family.proband.nhs_number }}</th>
             <th>Date of Birth:</th>
            <th> {{ report.ir_family.participant_family.proband.date_of_birth|date:"d/m/Y" }}</th>
       </tr>
    </table>



    <h3>Recruiting Disease</h3>
    <p>
    {{ report.ir_family.participant_family.proband.recruiting_disease }}
    </p>

    <hr>

    <h3>Test Methodology</h3>
    <p style="text-align:justify">
    Whole genome sequencing by the 100,000 Genomes Project with analysis of
    selected gene panels (see below). Please note that the sensitivity of this test
    is limited by the types of detectable pathogenic variants, regions of low read
    depth coverage and incomplete ascertainment of disease-gene associations. More
    detailed information regarding read depth coverage is available on request.
    Please contact the laboratory and quote the Laboratory No. for more information.
    </p>


    <h3>Variant Details</h3>

    <strong>No variants have been detected.</strong>



    <h3>Gene Panels and Read Depth Coverage</h3>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Panel</th>
                <th style="text-align:right">No. Genes</th>
                <th style="text-align:right">Avg. Panel Coverage</th>
                <th style="text-align:right">% >15x</th>
            </th>
        </thead>
        <tbody>
        {% for panel, num_genes in panels.items %}
            <tr>
            <td>{{panel.panel}}</td>
            <td style="text-align: right">{{num_genes}}</td>
            <td style="text-align: right">{{ panel.average_coverage }}x</td>
            <td style="text-align: right">{% widthratio panel.proportion_above_15x 1 100 %}%</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>


    <h4>Genes with low coverage*: </h4>
        {% for panel, num_genes in panels.items %}
        {% if forloop.first %}

        <p style="text-align:justify">
        <small>
        {{ panel.genes_failing_coverage }}
    </small>
        </p>

        {% endif %}
        {% endfor %}
    <h6>* Low coverage = less than 95% of the gene has a minimum read depth coverage of 15x.</h6>

</page>

</body>

</html>
