{% for report in reports %}
<tr>
    <td><a href="/proband/{{report.id}}">{{report.ir_family.participant_family.proband.gel_id}}</a></td>
    <td>{{report.ir_family.ir_family_id}}</td>
    <td>{{report.ir_family.participant_family.proband.forename}}</td>
    <td>{{report.ir_family.participant_family.proband.surname}}</td>
    <td>{{report.ir_family.participant_family.proband.gmc}}</td>
    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.discussion}}</td>
    <td style="word-wrap: break-word; min-width: 200px;max-width: 200px;">{{report.ir_family.participant_family.proband.action}}</td>
    <td>
        {% if mdt_form.status.value != "C" %}
        <p>
        <button type="button" class="btn btn-primary js-edit-mdt-proband"
                data-url="/edit_mdt_proband/{{report.ir_family.participant_family.proband.id}}">
          Edit
        </button>
        </p>
        {% else %}
        <p></p>
        {% endif %}
    </td>
</tr>
{% endfor %}