

{% for variant in proband_transcript_variants %}

    <tr>
        <td><a href="/proband/{{variant.proband_variant.interpretation_report.id}}">{{variant.proband_variant.interpretation_report.id}}</a></td>
        <td>{{variant.proband_variant.interpretation_report.ir_family.ir_family_id}}</td>
        <td  ><a href="/variant_view/{{variant.proband_variant.variant.id}}">{{variant.proband_variant.variant.id}}</a></td>
        <td>
            {% if mdt_form.status.value != "C" %}
            <button type="button" class="btn btn-primary js-edit-mdt-variant"
                    data-url="/edit_mdt_variant/{{variant.proband_variant.id}}">
              Edit
            </button>

        {% endif %}
        </td>
        <td style="word-wrap: break-word; min-width: 50px;max-width: 50px;">{{variant.proband_variant.interpretation_report.ir_family.participant_family.proband.forename}}</td>
        <td style="word-wrap: break-word; min-width: 50px;max-width: 50px;">{{variant.proband_variant.interpretation_report.ir_family.participant_family.proband.surname}}</td>
        <td>{{variant.proband_variant.interpretation_report.ir_family.participant_family.proband.gmc}}</td>
        <td>{{variant.transcript_variant.transcript.gene}}</td>
        <td style="word-wrap: break-word; min-width: 120px;max-width: 120px;">{{variant.transcript_variant.hgvs_c}}</td>
        <td style="word-wrap: break-word; min-width: 120px;max-width: 120px;">{{variant.transcript_variant.hgvs_p}}</td>
        <td style="word-wrap: break-word; min-width: 90px;max-width: 90px;">{{variant.proband_variant.zygosity}}</td>
        <td>{{variant.proband_variant.classification}}</td>
        <td>{{variant.proband_variant.contribution_to_phenotype}}</td>
        <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{variant.proband_variant.discussion}}</td>
        <td style="word-wrap: break-word; min-width: 150px;max-width: 150px;">{{variant.proband_variant.action}}</td>
        <td>{% if variant.proband_variant.hange_med == True %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
        <td>{% if variant.proband_variant.surgical_option == True %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
        <td>{% if variant.proband_variant.add_surveillance_for_relatives == True %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
        <td>{% if variant.proband_variant.clinical_trial == True %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
        <td>{% if variant.proband_variant.inform_reproductive_choice == True %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
    </tr>
{% endfor %}